<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center text-muted">&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Petra Ready Mixed Concrete</p>
    </footer>
</div>

</body>
</html>