<%- include("partials/header") -%> 

<div class="container">
    <div class="row py-4">
        <div class="col-md-6">
            <h1>النمازج الإدارية</h1>
            <p>مصدر لجميع النمازج الإدارية الخاصة بجميع انشطة إدارات الشركة</p>
        </div>
        <div class="col-md-6">
            <div>
                <input type="text" class="form-control" placeholder="بحث" id="searchInput">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">الرقم</th>
                        <th scope="col">وصف النموزج</th>
                        <th scope="col">الإدارة</th>
                        <th scope="col">تحميل</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var mydata = `<%- data %>`;
    var data = JSON.parse(mydata);

    renderTable(data)
    
    // Search input
    let searchInput = document.getElementById("searchInput");
    
    window.addEventListener("keydown", (e) => {
        if(e.keyCode == 70 && e.ctrlKey == true) {
            e.preventDefault();
            searchInput.focus();            
        }
    })

    // add event listern when dom is loaded
    document.addEventListener("DOMContentLoaded", () => {
        searchInput.focus();
    })

    searchInput.addEventListener("input", e => {
        let filtered = data.filter(item => {
            return (
                item.description.toLowerCase().includes(e.target.value.toLowerCase()) ||
                item.department.toLowerCase().includes(e.target.value.toLowerCase()) ||
                item.code.toLowerCase().includes(e.target.value.toLowerCase())
            )
        })
        renderTable(filtered)
    })

    function renderTable(data) {
        let table = document.getElementById("tableBody");
        table.innerHTML = "";
        data.forEach(function(item, index) {
            let tr = document.createElement("tr");
            tr.innerHTML = `
                <th>${index + 1}</th>
                <td>${item.code}</td>
                <td>${item.description}</td>
                <td>${item.department}</td>
                <td><a href="${item.href}" target="_blank"><i class="fa-solid fa-download" style="font-size: 1.2em"></i></a></td>
            `;
            table.appendChild(tr);
        })
    }

</script>

<%- include("partials/footer") -%> 