<%- include("partials/header") -%> 

<div class="container">
    <div class="row py-4">
        <div class="col">
            <h1>النمازج الإدارية</h1>
            <p>مصدر لجميع النمازج الإدارية الخاصة بجميع انشطة إدارات الشركة</p>
        </div>
        <div class="col">
            <div>
                <input type="text" class="form-control" placeholder="بحث" id="searchInput">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="tableWithSpinner">
            <table class="table" id="formsTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">الإدارة</th>
                        <th scope="col">وصف النموزج</th>
                        <th scope="col">الرقم</th>
                        <th scope="col">تحميل</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var data = [];
    const formsTable = document.getElementById("formsTable");
    const tableWithSpinner = document.getElementById("tableWithSpinner");
    hideTable();
    
    function createSpinner() {
        let spinner = document.createElement("div");
        spinner.innerHTML = `
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        `;
        return spinner;
    }

    const spinner = createSpinner();

    function hideTable() {
        formsTable.style.display = "none";
    }
    
    function showTable() {
        formsTable.style.display = "table";
    }
    
    function getForms() {
        tableWithSpinner.append(spinner);
        fetch("/api/forms")
            .then(response => response.json())
            .then(resp => {
                tableWithSpinner.removeChild(spinner);
                data = resp;
                renderTable(data);
                showTable();
            })
            .catch(error => console.log(error));
    }
    getForms();

    // Search input

    let searchInput = document.getElementById("searchInput");
    
    window.addEventListener("keydown", (e) => {
        if(e.keyCode == 70 && e.ctrlKey == true) {
            e.preventDefault();
            searchInput.focus();            
        }
    })

    // add event listern when dom is loaded
    document.addEventListener("DOMContentLoaded", () => {
        searchInput.focus();
    })

    searchInput.addEventListener("input", e => {
        let filtered = data.filter(item => {
            return (
                item.description.toLowerCase().includes(e.target.value.toLowerCase()) ||
                item.department.toLowerCase().includes(e.target.value.toLowerCase()) ||
                item.code.toLowerCase().includes(e.target.value.toLowerCase())
            )
        })
        renderTable(filtered)
    })

    function renderTable(data) {
        let table = document.getElementById("tableBody");
        table.innerHTML = "";
        data.forEach(function(item, index) {
            let tr = document.createElement("tr");
            tr.innerHTML = `
                <th>${index + 1}</th>
                <td>${item.department}</td>
                <td>${item.description}</td>
                <td>${item.code}</td>
                <td><a href="${item.href}" target="_blank"><i class="fa-solid fa-file-pdf" style="color: red; font-size: 1.2em"></i></a></td>
            `;
            table.appendChild(tr);
        })
    }

</script>

<%- include("partials/footer") -%> 