<%- include("partials/header") -%> 

<div class="container">
    <div class="row d-flex justify-content-center m-4">
        <div class="col-md-6">
            <h2>Login</h2>
            <p class="lead">
                This is a lead paragraph. It stands out from regular paragraphs.
            </p>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Password</label>
                <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
            <button type="button" class="btn btn-primary my-2">Login</button>
        </div>
    </div>
</div>

<%- include("partials/footer") -%> 